#BTN_Back,
#BTN_Delete,
#BTN_Save {
    color: rgb(88, 88, 233);
    margin-left: 2rem;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    border: none;
    outline: none;
}

#BTN_Back,
#BTN_Delete {
    color: rgb(231, 106, 106);
}

.insert {
    background-color: #fff;
    margin: 2rem 1rem 0 1rem;
    padding: 1rem;
    border: 1px solid var(--primary-border);
    margin-bottom: 5rem;
}

.insert_header,
.insert_header_right {
    display: flex;
    justify-content: space-between;
}

.insert_header_left p {
    font-size: 1.2rem;
    font-weight: bold;
}

.insert_header_right p {
    margin-left: 1.5rem;
}

hr {
    border: 0.5px solid var(--primary-border);
    margin-top: 1rem;
}


.insert_result {
    margin-top: 1rem;
    margin-left: 2rem;
}

.insert_search_input {
    position: relative;
    display: inline-block;
    width: 20%;
}

.insert_search_input i {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    
}

.insert_search i{
    display: inline-block;
    padding: 0.5rem;
    background-color: rgb(36, 154, 222);
    text-align: center;
    color: white;
    cursor: pointer;
}

#TXT_user_cd {
 width: 100%; 
    
}

.insert_search label, 
.insert_result label {
    display: inline-block;
    text-align: right;
    width: 10rem;
    margin-right: 1rem;
    color: red;
    font-weight: bold;
}

.label-black {
    color: black !important;
}

.insert_search input,
.insert_result input,
.insert_result select {
   width: 15%;
   height: 2rem;
   outline: none;
   border: 1px solid var(--primary-border);
   font-size: 1.2rem;
   padding-left: 0.5rem;
 
}


.insert_result textarea {
    outline: none;
    border: 1px solid var(--primary-border);
    font-size: 1.2rem;
}

.insert_result button {
    display: none;
}
#TXA_memo {
    width: 70%;
    height: 4rem;
   
}

.insert_ime {
    -webkit-ime-mode:active;
    -moz-ime-mode:active;
    -ms-ime-mode:active;
    ime-mode:active  !important;
}

.insert_ime-disable {
    ime-mode: disabled;
}

.insert_result span {
    display: block;
    color: red;
    margin-top: 0.5rem;
    margin-left: 11rem;
}

